<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- configuracoes -->

	<!--AspectJ <aop:aspectj-autoproxy proxy-target-class="true" /> -->

	<!--Controle de transacao -->
	<tx:annotation-driven />

	<!-- ====Instanciando singletons com anotacoes do Spring===== <context:annotation-config 
		/> <context:component-scan base-package="com.aop.log" /> -->

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>resources/messages</value>
		</property>
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>src/test/resources/config.properties</value>
		</property>
	</bean>

	<!-- Data Source Declaration -->
	<bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/bioqualitasdb" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxPoolSize" value="10" />
		<property name="maxStatements" value="0" />
		<property name="minPoolSize" value="5" />
	</bean>

	<!-- Session Factory Declaration -->
	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.model.Usuario</value>
				<value>com.model.Cliente</value>
				<value>com.model.Funcao</value>
				<value>com.model.Perfil</value>
				<value>com.model.Log</value>

				<value>com.model.Grupo</value>
				<value>com.model.ItemGrupo</value>
				<value>com.model.Microrganismo</value>
				<value>com.model.ItemPadrao</value>
				<value>com.model.Padrao</value>
				<value>com.model.Configuracao</value>
				<value>com.model.Notificacao</value>
				<value>com.model.Solicitacao</value>
				<value>com.model.Amostra</value>
				<value>com.model.FormaPagamento</value>
				<value>com.model.CondicaoAmostra</value>
				<value>com.model.MotivoAnalise</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<!-- Bean de envio de email 
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"> 
		<property name="host"> 
			<value>${mail.smtp.host}</value> 
		</property> 
		<property name="username"> 
			<value>${mail.smtp.username}</value> 
		</property> 
		<property name="password"> 
			<value>${mail.smtp.password}</value> 
		</property> 
		<property name="protocol"> 
			<value>smtp</value> 
		</property> 
		<property name="port"> 
			<value>${mail.smtp.port}</value> 
		</property> 
		<property name="defaultEncoding"> 
			<value>${mail.mime.encoding}</value> 
		</property> 
		<property name="javaMailProperties"> 
			<props> 
				<prop key="mail.mime.charset">${mail.mime.charset}</prop> 
				<prop key="mail.transport.protocol">smtp</prop> 
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop> 
				<prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop> 
				<prop key="mail.debug">${app.environment.debug}</prop> 
			</props> 
		</property> 
	</bean>
		 
	<bean id="mailService" class="com.service.mail.JavaMailService"> 
		<constructor-arg ref="mailSender" /> 
		<constructor-arg value="${app.environment.desenv}" /> 
	</bean>-->
	
	<!-- DAO Declaration -->
	<bean id="Dao" class="com.dao.impl.Dao">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	
	<bean id="AmostraDaoImpl" class="com.dao.impl.AmostraDaoImpl"
		parent="Dao">
	</bean>

	<bean id="NotificacaoDaoImpl" class="com.dao.impl.NotificacaoDaoImpl"
		parent="Dao">
	</bean>

	<bean id="PerfilDaoImpl" class="com.dao.impl.PerfilDaoImpl"
		parent="Dao">
	</bean>

	<bean id="UsuarioDaoImpl" class="com.dao.impl.UsuarioDaoImpl"
		parent="Dao">
	</bean>

<!-- SERvices -->
<bean id="Service" class="com.service.impl.Service">
		<property name="dao" ref="Dao" />
	</bean>

	<bean id="LogService" class="com.service.impl.LogService"
		parent="Service">
	</bean>

	<bean id="UsuarioService" class="com.service.impl.UsuarioService">
		<property name="userDAO" ref="UsuarioDaoImpl" />
		<property name="mailSend" ref="mailService" />
		<property name="perfilService" ref="PerfilService" />
	</bean>

	<bean id="ClienteService" class="com.service.impl.ClienteService"
		parent="Service">
	</bean>

	<bean id="PerfilService" class="com.service.impl.PerfilService">
		<property name="perfilDAO" ref="PerfilDaoImpl" />
	</bean>

	<bean id="FuncaoService" class="com.service.impl.FuncaoService"
		parent="Service">
	</bean>

	<bean id="MotivoService" class="com.service.impl.MotivoService"
		parent="Service">
	</bean>

	<bean id="CondicaoAmostraService" class="com.service.impl.CondicaoAmostraService"
		parent="Service">
	</bean>

	<bean id="FormaService" class="com.service.impl.FormaService"
		parent="Service">
	</bean>

	<bean id="GrupoService" class="com.service.impl.GrupoService"
		parent="Service">
	</bean>

	<bean id="ItemGrupoService" class="com.service.impl.ItemGrupoService"
		parent="Service">
	</bean>

	<bean id="MicrorganismoService" class="com.service.impl.MicrorganismoService"
		parent="Service">
	</bean>

	<bean id="ItemPadraoService" class="com.service.impl.ItemPadraoService"
		parent="Service">
	</bean>

	<bean id="PadraoService" class="com.service.impl.PadraoService"
		parent="Service">
	</bean>

	<bean id="ConfiguracaoService" class="com.service.impl.ConfiguracaoService"
		parent="Service">
	</bean>

	<bean id="NotificacaoService" class="com.service.impl.NotificacaoService">
		<property name="notificacaoDAO" ref="NotificacaoDaoImpl" />
	</bean>

	<bean id="SolicitacaoService" class="com.service.impl.SolicitacaoService"
		parent="Service">
		<property name="mailSend" ref="mailService" />
		<property name="usuarioService" ref="UsuarioService" />
		<property name="configuracaoService" ref="ConfiguracaoService" />
	</bean>

	<bean id="AmostraService" class="com.service.impl.AmostraService"
		parent="Service">
		<property name="amostraDAO" ref="AmostraDaoImpl" />
		<property name="mailSend" ref="mailService" />
		<property name="usuarioService" ref="UsuarioService" />
	</bean>

	<bean id="ResultadoService" class="com.service.impl.ResultadoService"
		parent="Service">
	</bean>
</beans>
		